body {
    background-color: #ffffff;
  }
  
  .container {
    text-align: center;
  }
  
  #signup_logo {
    width: 312px;
    height: 112px;
    margin-top: 20px;
  }
  
  #signup_mess {
    margin: 20px 0;
    color: #333;
  }

  #kakaoIdLogin {
    width: 328px;
    height: auto;
  }

  footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
  }
  