.monthly-container {
  font-family: "Pretendard", sans-serif;

  #back {
    position: absolute;
    width: 500px;
    height: 1577px;
    left: calc(50% - 500px / 2);

    background: #fcfcfc;
  }

  .logo {
    position: absolute;
    width: 111px;
    height: 40px;
    left: calc(50% - 111px / 2 - 178.5px);
    top: 44px;

    background: url("../../asset/img/logo.png");
  }

  #month {
    position: absolute;
    width: 55px;
    height: 20px;
    left: calc(50% - 55px / 2 + 144.5px);
    top: 54px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #000000;
  }

  #bar {
    position: absolute;
    width: 2px;
    height: 10px;
    left: 428px;
    top: 59px;

    background: #000000;
  }

  #week {
    position: absolute;
    width: 48px;
    height: 20px;
    left: calc(50% - 48px / 2 + 210px);
    top: 54px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #9c9c9c;
  }

  #nevi {
    width: 500px;
    height: 96px;
    background-color: #fcfcfc;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.05);
    background: #fcfcfc;
    /* 네비게이터 */

    position: fixed;
    width: 500px;
    height: 96px;
    left: calc(50% - 500px / 2);
    bottom: 0px;
  }

  #month_tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 124px;
  }

  #month_text {
    padding-top: 20px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    align-items: center;

    color: #000000;
  }

  #button_tab button {
    padding-top: 20px;
    border: none;
    background-color: transparent;

    font-size: 20px;
    font-weight: 700;
  }

  .calendar-container {
    padding: 20px;
  }

  .calendar {
    display: flex;
    flex-direction: column;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
  }

  .calendar-header-day {
    width: 40px;
    text-align: center;
    font-weight: bold;
  }

  .calendar-body {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }

  .calendar-week {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 10px;
  }

  .calendar-day {
    width: 32px;
    height: 64px;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 37.8px;
    transition: background-color 0.3s;
    position: relative; /* 날짜 텍스트가 이미지 아래에 오도록 설정 */
    font-size: 16px; /* 날짜 텍스트 크기 */
    color: #000000; /* 날짜 텍스트 색상 */
  }

  .calendar-day::before {
    content: "";
    display: block;
    width: 32px; /* union 이미지의 크기 */
    height: 32px;
    background-image: url("../../asset/img/Union.png");
    background-size: contain; /* 이미지를 컨테이너에 맞게 조정 */
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4px; /* 이미지와 날짜 사이의 간격 */
  }

  .calendar-day:hover::before {
    background-color: #f4f4f4;

    background: url("../../asset/img/Select_Union.png");
  }

  .calendar-day.null::before {
    background: url("../../asset/img/no_Union.png");
  }

  #devider {
    position: absolute;
    width: 468px;
    height: 2px;
    left: calc(50% - 468px / 2);
    top: 592px;

    padding-top: 80px;
  }

  .diary-section {
    padding: 44px;
    padding-top: 30px;
    left: calc(50% - 500px / 2); /* 왼쪽에 10px 여백 추가 */
  }

  .diary-section h2 {
    margin-left: -28px;
    margin-right: -28px;
    margin-bottom: 48px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
  }

  .diary-section img {
    width: 406px;
    height: 272px;
  }

  #emotion_text {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
  }

  .emotions {
    justify-content: space-around; 
    width: 500px;
    margin: 0 auto; 
  }

  .emotion-tag {
    width: 90px;
    height: 48px;

    display: inline-flex;

    justify-content: space-around;
    align-items: center;
    text-align: center;

    background-color: #eee;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 38px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
  }

  #ai_text,
  #diary_text {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;

    color: #000000;
  }

  .ai-message {
    width: 396px;
    height: 48px;
    display: flex;
    align-items: center;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    background-color: #eee;
    border-radius: 5px;

    padding-left: 10px;
  }

  #diary_button {
    width: 406px;
    height: 48px;
    padding: 10px 20px;
    background-color: #eee;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #nevi {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 96px;
    background-color: #fcfcfc;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.05);
  }
}
